{% extends 'main/base.html' %}
{% load humanize %}
{% block title %}SariSariStock | Inventory{% endblock %}

{% block content %}
<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .layout {
    display: flex;
    min-height: 100vh;
  }

  .sidebar {
    width: 250px;
    background-color: #212529; 
    color: white;
    padding: 1.5rem;
  }

  .main-content {
    flex-grow: 1;
    padding: 2rem;
  }
  .sidebarStyle{
    background: white;
  }
  .sidebarStyle a{
    color: black;
    border-radius: 10px;
    transition: background 0.1s ease;
  }

  .sidebarStyle a:hover{
    color: black;
    background: rgb(187, 187, 187);
    border-radius: 10px;
  }

  .sidebarStyle a:focus{
    color: black;
    background: rgb(131, 131, 131);
    border-radius: 10px;
  }

  .toggle-link {
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 0.5rem 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #6c757d;
    transition: all 0.2s ease;
  }

  .toggle-link:hover {
    color: #495057;
  }

  .toggle-link.active {
    border-bottom: 3px solid #198754;
    color: #198754;
  }

  .toggle-link[href="#movement-section"].active {
    border-bottom: 3px solid #0d6efd;
    color: #0d6efd;
  }

  /* Flex layout for the whole control bar */
  #movement-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 10px;
  }

  /* Left side: fix "Show 10 Logs" layout */
  #movement-controls .dataTables_length {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  #movement-controls .dataTables_length label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 0;
  }

  #movement-controls .dataTables_length select {
    display: inline-block;
    width: auto;
  }

  /* Right side: export buttons inline */
  #movement-controls .dt-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* Flex layout for the whole control bar */
  #stock-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 10px;
  }

  /* Left side: fix "Show 10 Logs" layout */
  #stock-controls .dataTables_length {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  #stock-controls .dataTables_length label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 0;
  }

  #stock-controls .dataTables_length select {
    display: inline-block;
    width: auto;
  }

  /* Right side: export buttons inline */
  #stock-controls .dt-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
    
</style>

<div class="layout">

  <div class="main-content text-dark">
    <div class="d-flex flex-column mb-3">
      <h3 class="mb-0">Inventory</h3>
      <span class="text-muted">View stock items, record stock-in/out, and adjust(add, reduce) stock. All movements are logged.</span>
    </div>

    
    <div class="d-flex gap-3 mb-4">
        <a href="#instock-section" class="toggle-link active">Stock</a>
        <a href="#movement-section" class="toggle-link">Movement Log</a>
    </div>

    <!-- In-Stock Section -->
    <div id="instock-section" class="toggle-section ">
        <div id="stock-controls" class="d-flex justify-content-between align-items-center mb-2 flex-wrap">
          
        </div>
        <table id="stockTable" class="table table-bordered table-striped align-middle table-striped-columns border border-dark text-center">
            <thead class="table-dark">
                <tr>
                    <th>SKU</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    {% if product.id%}
                    <tr>
                        <td>{{ product.code }}</td>
                        {% if product.status == 'active'%}
                        <td>{{ product.name }}</td>
                        {% elif product.status == 'archive'%}
                        <td class="text-danger">{{ product.name }}</td>
                        {% endif %}
                        <td>{{ product.get_categories_display }}</td>
                        <td class="text-center">
                                {% if product.quantity == 0 %}
                                  <span class="text-danger fw-bold">Restock Needed &nbsp;<i class="bi bi-exclamation-diamond-fill"></i></span>
                                {% else %}
                                  {{ product.quantity }}
                                {% endif %}
                              </td>
                        <td>
                          <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addStockModal{{ product.id }}">
                              <i class="bi bi-plus-lg"></i>
                          </button>

                          <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#reduceStockModal{{ product.id }}">
                              <i class="bi bi-dash-lg"></i>
                          </button>
                        </td>
                    </tr>
                    
                    <!-- ADD STOCK MODAL -->
                    <div class="modal fade" id="addStockModal{{ product.id }}" tabindex="-1" aria-labelledby="addStockLabel{{ product.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content border-0 shadow-sm rounded-3">
                          
                          <div class="modal-header bg-success text-white">
                            <h4 class="modal-title fw-bold" id="addStockLabel{{ product.id }}">
                              <i class="bi bi-box-arrow-in-up"></i> Add Stock - {{ product.name }}
                            </h4>
                          </div>

                          <form method="POST" action="{% url 'add_stock' product.id %}">
                            {% csrf_token %}
                            <div class="modal-body bg-light">
                              <div class="mb-3">
                                <label for="quantity{{ product.id }}" class="form-label fw-semibold text-success">Quantity</label>
                                <input type="number" class="form-control border-success" name="quantity" min="1" value="1" required>
                              </div>
                              <div class="mb-3">
                                <label for="note{{ product.id }}" class="form-label fw-semibold text-success">Note</label>
                                <textarea class="form-control border-success" name="note" rows="2" placeholder="e.g. Restock from supplier"></textarea>
                              </div>
                            </div>

                            <div class="modal-footer bg-light border-0">
                              <button type="submit" class="btn btn-success">
                                Add
                              </button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancel
                              </button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>

                    <!-- REDUCE STOCK MODAL -->
                    <div class="modal fade" id="reduceStockModal{{ product.id }}" tabindex="-1" aria-labelledby="reduceStockLabel{{ product.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content border-0 shadow-sm rounded-3">

                          <div class="modal-header bg-danger text-white">
                            <h4 class="modal-title fw-bold" id="reduceStockLabel{{ product.id }}">
                              <i class="bi bi-box-arrow-down"></i> Reduce Stock - {{ product.name }}
                            </h4>
                          </div>

                          <form method="POST" action="{% url 'reduce_stock' product.id %}">
                            {% csrf_token %}
                            <div class="modal-body bg-light">
                              <div class="mb-3">
                                <label for="quantity{{ product.id }}" class="form-label fw-semibold text-danger">Quantity</label>
                                <input type="number" class="form-control border-danger" name="quantity" min="1" value="1" required>
                              </div>
                              <div class="mb-3">
                                <label for="note{{ product.id }}" class="form-label fw-semibold text-danger">Note</label>
                                <textarea class="form-control border-danger" name="note" rows="2" placeholder="e.g. Damaged items or expired stock"></textarea>
                              </div>
                            </div>

                            <div class="modal-footer bg-light border-0">
                              <button type="submit" class="btn btn-danger">
                                Reduce
                              </button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancel
                              </button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>

                    {% endif %}
                {% empty %}
                    <tr><td colspan="4">No products available.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Movement Log Section -->
    <div id="movement-section" class="toggle-section d-none ">
        <div id="movement-controls" class="d-flex justify-content-between align-items-center mb-2 flex-wrap">
          
        </div>
        <table id="movementTable" class="table table-striped table-bordered text-center align-middle table-striped-columns border border-dark">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>SKU</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Changes</th>
                    <th>Current Quantity</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {% for log in movement_logs %}
                <tr>
                    <td>{{ log.date|date:"M d, Y " }}</td>
                    <td>{{ log.reference }}</td>
                    <td>{{ log.product.code }}</td>
                    <td>{{ log.product.name }}</td>
                    <td>
                        <span class="text-secondary fw-bold">{{ log.quantity_before }}</span>
                    </td>
                    <td>
                        {% if log.change > 0 %}
                            <span class="text-success fw-bold">+{{ log.change }}</span>
                        {% else %}
                            <span class="text-danger fw-bold">{{ log.change }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="text-primary fw-bold">{{ log.quantity_after }}</span>
                    </td>
                    <td>{{ log.note|default:"—" }}</td>
                </tr>
                {% empty %}
                    <tr><td colspan="8">No movement logs yet.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer class="bg-white text-dark text-center border-top mt-5 py-3">
      &copy; 2025 Group8 SariSariStock. All rights reserved.
    </footer>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll(".toggle-link");
    const sections = document.querySelectorAll(".toggle-section");

    links.forEach(link => {
        link.addEventListener("click", function (e) {
            e.preventDefault();

            // Hide all sections
            sections.forEach(section => section.classList.add("d-none"));

            // Remove active class from all links
            links.forEach(btn => btn.classList.remove("active"));

            // Show the selected section
            const targetId = this.getAttribute("href");
            document.querySelector(targetId).classList.remove("d-none");

            // Add active class to clicked link
            this.classList.add("active");
        });
    });

});

</script>


{% endblock %}