<aside>
    <div class="sidebar sidebarStyle">
        <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'home' %}"><i class="bi bi-bar-chart-line-fill"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}"><i class="bi bi-box-seam-fill"></i> Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory' %}"><i class="bi bi-clipboard-check-fill"></i> Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pos' %}"><i class="bi bi-cart4"></i> POS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sales' %}"><i class="bi bi-receipt"></i> Sales</a>
        </li>
        </ul>
    </div>
</aside>