{% extends 'main/base.html' %}
{% load humanize %}
{% block title %}SariSariStock | Sales{% endblock %}

{% block content %}
<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .layout {
    display: flex;
    min-height: 100vh;
  }

  .sidebar {
    width: 250px;
    background-color: #212529; 
    color: white;
    padding: 1.5rem;
  }

  .main-content {
    flex-grow: 1;
    padding: 2rem;
  }
  .sidebarStyle{
    background: white;
  }
  .sidebarStyle a{
    color: black;
    border-radius: 10px;
    transition: background 0.1s ease;
  }

  .sidebarStyle a:hover{
    color: black;
    background: rgb(187, 187, 187);
    border-radius: 10px;
  }

  .sidebarStyle a:focus{
    color: black;
    background: rgb(131, 131, 131);
    border-radius: 10px;
  }
</style>

<!-- SideBar -->
<div class="layout">

  <!-- Main content -->
  <div class="main-content text-dark">
    <h1 class="text-center mb-5">This is the Sales Area</h1>

    <footer class="bg-white text-dark text-center border-top mt-5 py-3">
      &copy; 2025 Group8 SariSariStock. All rights reserved.
    </footer>
  </div>
</div>


{% endblock %}