{% extends 'main/base.html' %}
{% block title %}SariSariStock | Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .register_button{
        padding:10px;
        background: rgb(0, 183, 255);
        width: 150px;
        font-weight: bold;
        color: white;
        border-radius: 100px;
        transition: background 0.3s ease;
    }

    .register_button:hover{
        background: rgb(0, 117, 163);
        color: white;
    }

    .centerContent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style> 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded-4 text-dark">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Sign-up</h3>
                    <form method="post">
                    {% csrf_token %} {{form|crispy}}
                    <p>Have an account? <a href="/login">Login</a></p>
                    <div class="centerContent">
                        <button type="submit" class="btn register_button">Register</button>
                    </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 